In [1]:
import pandas as pd
import numpy as np
import gc
import utils
import dataset

In [2]:
app_train = dataset.get_data('../input/application_train.csv')

load data from ../input/application_train.csv - done in 3s

In [105]:
binary_features = [
    'FLAG_OWN_CAR',
    'FLAG_OWN_REALTY',
    
    'FLAG_DOCUMENT_2',
    'FLAG_DOCUMENT_3',
    'FLAG_DOCUMENT_4',
    'FLAG_DOCUMENT_5',
    'FLAG_DOCUMENT_6',
    'FLAG_DOCUMENT_7',
    'FLAG_DOCUMENT_8',
    'FLAG_DOCUMENT_9',
    'FLAG_DOCUMENT_10',
    'FLAG_DOCUMENT_11',
    'FLAG_DOCUMENT_12',
    'FLAG_DOCUMENT_13',
    'FLAG_DOCUMENT_14',
    'FLAG_DOCUMENT_15',
    'FLAG_DOCUMENT_16',
    'FLAG_DOCUMENT_17',
    'FLAG_DOCUMENT_18',
    'FLAG_DOCUMENT_19',
    'FLAG_DOCUMENT_20',
    'FLAG_DOCUMENT_21',
    'REG_REGION_NOT_LIVE_REGION',
    'REG_REGION_NOT_WORK_REGION',
    'LIVE_REGION_NOT_WORK_REGION',
    'REG_CITY_NOT_LIVE_CITY',
    'REG_CITY_NOT_WORK_CITY',
    'LIVE_CITY_NOT_WORK_CITY',
    'FLAG_MOBIL',
    'FLAG_EMP_PHONE',
    'FLAG_WORK_PHONE',
    'FLAG_CONT_MOBILE',
    'FLAG_PHONE',
    'FLAG_EMAIL',
    'CODE_GENDER',
    'EMERGENCYSTATE_MODE'
]

In [106]:
category_features = [
    'NAME_CONTRACT_TYPE',
    'NAME_EDUCATION_TYPE',
    'NAME_FAMILY_STATUS',
    'NAME_HOUSING_TYPE',
    'ORGANIZATION_TYPE',
    'WEEKDAY_APPR_PROCESS_START',
    'NAME_TYPE_SUITE',
    'NAME_INCOME_TYPE',
    'OCCUPATION_TYPE',
    'FONDKAPREMONT_MODE',
    'HOUSETYPE_MODE',
    'WALLSMATERIAL_MODE'
]

In [107]:
numerical_features = [_ for _ in app_train.columns if app_train[_].dtype == 'float64']
numerical_features = numerical_features + [
    'CNT_CHILDREN',
    'DAYS_BIRTH',
    'DAYS_EMPLOYED',
    'DAYS_ID_PUBLISH',
    'REGION_RATING_CLIENT_W_CITY',
    'REGION_RATING_CLIENT',
    'HOUR_APPR_PROCESS_START',
]

In [108]:
remain_features = [_ for _ in app_train.columns if _ not in (category_features + numerical_features + binary_features)]

In [109]:
remain_features

['SK_ID_CURR', 'TARGET']

In [130]:
separator = '%s'.join((('-' * 10) for _ in range(2)))
for fea in binary_features:
    dft = app_train[fea].astype('object')
    print(separator % fea)
    print(dft.describe())
    print(dft.value_counts())

----------FLAG_OWN_CAR----------
count     307511
unique         2
top            N
freq      202924
Name: FLAG_OWN_CAR, dtype: object
N    202924
Y    104587
Name: FLAG_OWN_CAR, dtype: int64
----------FLAG_OWN_REALTY----------
count     307511
unique         2
top            Y
freq      213312
Name: FLAG_OWN_REALTY, dtype: object
Y    213312
N     94199
Name: FLAG_OWN_REALTY, dtype: int64
----------FLAG_DOCUMENT_2----------
count     307511
unique         2
top            0
freq      307498
Name: FLAG_DOCUMENT_2, dtype: int64
0    307498
1        13
Name: FLAG_DOCUMENT_2, dtype: int64
----------FLAG_DOCUMENT_3----------
count     307511
unique         2
top            1
freq      218340
Name: FLAG_DOCUMENT_3, dtype: int64
1    218340
0     89171
Name: FLAG_DOCUMENT_3, dtype: int64
----------FLAG_DOCUMENT_4----------
count     307511
unique         2
top            0
freq      307486
Name: FLAG_DOCUMENT_4, dtype: int64
0    307486
1        25
Name: FLAG_DOCUMENT_4, dtype: int64
----------FLAG_DOCUMENT_5----------
count     307511
unique         2
top            0
freq      302863
Name: FLAG_DOCUMENT_5, dtype: int64
0    302863
1      4648
Name: FLAG_DOCUMENT_5, dtype: int64
----------FLAG_DOCUMENT_6----------
count     307511
unique         2
top            0
freq      280433
Name: FLAG_DOCUMENT_6, dtype: int64
0    280433
1     27078
Name: FLAG_DOCUMENT_6, dtype: int64
----------FLAG_DOCUMENT_7----------
count     307511
unique         2
top            0
freq      307452
Name: FLAG_DOCUMENT_7, dtype: int64
0    307452
1        59
Name: FLAG_DOCUMENT_7, dtype: int64
----------FLAG_DOCUMENT_8----------
count     307511
unique         2
top            0
freq      282487
Name: FLAG_DOCUMENT_8, dtype: int64
0    282487
1     25024
Name: FLAG_DOCUMENT_8, dtype: int64
----------FLAG_DOCUMENT_9----------
count     307511
unique         2
top            0
freq      306313
Name: FLAG_DOCUMENT_9, dtype: int64
0    306313
1      1198
Name: FLAG_DOCUMENT_9, dtype: int64
----------FLAG_DOCUMENT_10----------
count     307511
unique         2
top            0
freq      307504
Name: FLAG_DOCUMENT_10, dtype: int64
0    307504
1         7
Name: FLAG_DOCUMENT_10, dtype: int64
----------FLAG_DOCUMENT_11----------
count     307511
unique         2
top            0
freq      306308
Name: FLAG_DOCUMENT_11, dtype: int64
0    306308
1      1203
Name: FLAG_DOCUMENT_11, dtype: int64
----------FLAG_DOCUMENT_12----------
count     307511
unique         2
top            0
freq      307509
Name: FLAG_DOCUMENT_12, dtype: int64
0    307509
1         2
Name: FLAG_DOCUMENT_12, dtype: int64
----------FLAG_DOCUMENT_13----------
count     307511
unique         2
top            0
freq      306427
Name: FLAG_DOCUMENT_13, dtype: int64
0    306427
1      1084
Name: FLAG_DOCUMENT_13, dtype: int64
----------FLAG_DOCUMENT_14----------
count     307511
unique         2
top            0
freq      306608
Name: FLAG_DOCUMENT_14, dtype: int64
0    306608
1       903
Name: FLAG_DOCUMENT_14, dtype: int64
----------FLAG_DOCUMENT_15----------
count     307511
unique         2
top            0
freq      307139
Name: FLAG_DOCUMENT_15, dtype: int64
0    307139
1       372
Name: FLAG_DOCUMENT_15, dtype: int64
----------FLAG_DOCUMENT_16----------
count     307511
unique         2
top            0
freq      304458
Name: FLAG_DOCUMENT_16, dtype: int64
0    304458
1      3053
Name: FLAG_DOCUMENT_16, dtype: int64
----------FLAG_DOCUMENT_17----------
count     307511
unique         2
top            0
freq      307429
Name: FLAG_DOCUMENT_17, dtype: int64
0    307429
1        82
Name: FLAG_DOCUMENT_17, dtype: int64
----------FLAG_DOCUMENT_18----------
count     307511
unique         2
top            0
freq      305011
Name: FLAG_DOCUMENT_18, dtype: int64
0    305011
1      2500
Name: FLAG_DOCUMENT_18, dtype: int64
----------FLAG_DOCUMENT_19----------
count     307511
unique         2
top            0
freq      307328
Name: FLAG_DOCUMENT_19, dtype: int64
0    307328
1       183
Name: FLAG_DOCUMENT_19, dtype: int64
----------FLAG_DOCUMENT_20----------
count     307511
unique         2
top            0
freq      307355
Name: FLAG_DOCUMENT_20, dtype: int64
0    307355
1       156
Name: FLAG_DOCUMENT_20, dtype: int64
----------FLAG_DOCUMENT_21----------
count     307511
unique         2
top            0
freq      307408
Name: FLAG_DOCUMENT_21, dtype: int64
0    307408
1       103
Name: FLAG_DOCUMENT_21, dtype: int64
----------REG_REGION_NOT_LIVE_REGION----------
count     307511
unique         2
top            0
freq      302854
Name: REG_REGION_NOT_LIVE_REGION, dtype: int64
0    302854
1      4657
Name: REG_REGION_NOT_LIVE_REGION, dtype: int64
----------REG_REGION_NOT_WORK_REGION----------
count     307511
unique         2
top            0
freq      291899
Name: REG_REGION_NOT_WORK_REGION, dtype: int64
0    291899
1     15612
Name: REG_REGION_NOT_WORK_REGION, dtype: int64
----------LIVE_REGION_NOT_WORK_REGION----------
count     307511
unique         2
top            0
freq      295008
Name: LIVE_REGION_NOT_WORK_REGION, dtype: int64
0    295008
1     12503
Name: LIVE_REGION_NOT_WORK_REGION, dtype: int64
----------REG_CITY_NOT_LIVE_CITY----------
count     307511
unique         2
top            0
freq      283472
Name: REG_CITY_NOT_LIVE_CITY, dtype: int64
0    283472
1     24039
Name: REG_CITY_NOT_LIVE_CITY, dtype: int64
----------REG_CITY_NOT_WORK_CITY----------
count     307511
unique         2
top            0
freq      236644
Name: REG_CITY_NOT_WORK_CITY, dtype: int64
0    236644
1     70867
Name: REG_CITY_NOT_WORK_CITY, dtype: int64
----------LIVE_CITY_NOT_WORK_CITY----------
count     307511
unique         2
top            0
freq      252296
Name: LIVE_CITY_NOT_WORK_CITY, dtype: int64
0    252296
1     55215
Name: LIVE_CITY_NOT_WORK_CITY, dtype: int64
----------FLAG_MOBIL----------
count     307511
unique         2
top            1
freq      307510
Name: FLAG_MOBIL, dtype: int64
1    307510
0         1
Name: FLAG_MOBIL, dtype: int64
----------FLAG_EMP_PHONE----------
count     307511
unique         2
top            1
freq      252125
Name: FLAG_EMP_PHONE, dtype: int64
1    252125
0     55386
Name: FLAG_EMP_PHONE, dtype: int64
----------FLAG_WORK_PHONE----------
count     307511
unique         2
top            0
freq      246203
Name: FLAG_WORK_PHONE, dtype: int64
0    246203
1     61308
Name: FLAG_WORK_PHONE, dtype: int64
----------FLAG_CONT_MOBILE----------
count     307511
unique         2
top            1
freq      306937
Name: FLAG_CONT_MOBILE, dtype: int64
1    306937
0       574
Name: FLAG_CONT_MOBILE, dtype: int64
----------FLAG_PHONE----------
count     307511
unique         2
top            0
freq      221080
Name: FLAG_PHONE, dtype: int64
0    221080
1     86431
Name: FLAG_PHONE, dtype: int64
----------FLAG_EMAIL----------
count     307511
unique         2
top            0
freq      290069
Name: FLAG_EMAIL, dtype: int64
0    290069
1     17442
Name: FLAG_EMAIL, dtype: int64
----------CODE_GENDER----------
count     307511
unique         3
top            F
freq      202448
Name: CODE_GENDER, dtype: object
F      202448
M      105059
XNA         4
Name: CODE_GENDER, dtype: int64
----------EMERGENCYSTATE_MODE----------
count     161756
unique         2
top           No
freq      159428
Name: EMERGENCYSTATE_MODE, dtype: object
No     159428
Yes      2328
Name: EMERGENCYSTATE_MODE, dtype: int64